################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/todoASPMVC/config/applicationhost.config
/.vs/tpASPNETMVC/v17
/.vs/todoASPMVC/FileContentIndex/06316c06-d43f-446c-ae2f-fc706a360fbb.vsidx
